<div class="container-fluid">
    <div class="row">
        <div>

            <br>
            <form>
                <label for="username">Username:</label>
                <input id="username" name="username" ng-model="username"/>
                <br/>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" ng-model="password"/>
                <br/>
                <label for="host">Host:</label>
                <input id="host" name="host" ng-model="host"/>
                <br/>
                <input type="submit" id="submit" value="Login" ng-click ="doLogin()"/>
            </form>

        </div>
    </div>
</div>
